*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top{
 background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
 url(/src/images/close-up-photo-of-strawberries-2694783.jpg) no-repeat center center fixed;
 background-size: cover;
 height: 100%;
 width: 100%;
 position: absolute;
}

.form-container{
  background-color: rgb(255, 255, 255);
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  padding: 5px;
}

.btn-switch{
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 2px 1px 10px 1px;
  border-radius: 30px;
}

.btn-toggle{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#switch-col{
  top: 0;
  left: 0;
  position: absolute;
  width: 120px;
  height: 100%;
  background-color: rgba(44, 221, 212, 0.89);
  border-radius: 30px;
  transition: .5s;
}

.social-login{
  text-align: center;
  margin: 30px auto;
}

.social-login i{
  margin: 0 12px;
  cursor: pointer;
  /* text-align: center; */
}

.fa-facebook{
  color: #1877f2;
}

.fa-twitter{
  color: #1da1f2;
}

.fa-instagram{
  color: rgba(245, 59, 245, 0.808) ;
}

.form-input{
  top: 180px;
  position: absolute;
  width: 280px;
  transition: .5s;
}

.input{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border: 0px;
  border-bottom: 1px solid rgb(182, 182, 182);
  background: transparent;
  outline: none;
}

.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: rgba(214, 215, 216, 0.993);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.checkbox{
  margin: 30px 10px 30px;
}

span{
  color: rgb(151, 136, 136);
  font-size: 12px;
  bottom: 71px;
  position: absolute;
}





