*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

.top{
 background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
 url(/src/images/close-up-photo-of-strawberries-2694783.jpg) no-repeat center center fixed;
 background-size: cover;
 height: 100%;
 width: 100%;
 position: absolute;
}

.form-container{
  background-color: rgb(251, 251, 251);
  width: 380px;
  height: 480px;
  position: relative;
  margin: 9% auto;
  padding: 5px;
  overflow: hidden;
  border-radius: 4px;
}

.btn-switch{
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 2px 1px 10px 1px;
  border-radius: 30px;
}

.btn-toggle{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  position: relative;
}

.btn-toggle:focus, .submit-btn:focus {
  outline-style: none;
}

.switchCol{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background-color: rgba(44, 221, 212, 0.89);
  border-radius: 30px;
  transition: .5s;
}

.social-login{
  text-align: center;
  margin: 30px auto;
}

.social-login i{
  margin: 0 12px;
  cursor: pointer;
  /* text-align: center; */
}

.fa-facebook{
  color: #1877f2;
}

.fa-twitter{
  color: #1da1f2;
}

.fa-instagram{
  color: rgba(245, 59, 245, 0.808) ;
}

.form-input{
  top: 180px;
  position: absolute;
  width: 280px;
  transition: .5s;
}

.input{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border: 0px;
  border-bottom: 1px solid rgb(182, 182, 182);
  background: transparent;
  outline: none;
}

.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: rgba(214, 215, 216, 0.993);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.checkbox{
  margin: 30px 10px 30px;
}

span{
  color: rgb(151, 136, 136);
  font-size: 12px;
  bottom: 71px;
  position: absolute;
}

#login{
  left: 50px
}

#signup{
  left: 450px;
}

/*
  ========================================
  Product page
  ========================================
*/

/* Nav-Section */
.header{
  /* background-color: aliceblue; */
  background-color: rgba(0, 0, 0, 0.904);
  height: 60px;
  width: 100%;
  line-height: 60px;
  padding: 0px 50px;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  z-index: 100;
  clear: both;
}

.logo{
  font-size: 27px;
  letter-spacing: 2px;
  color: rgb(168, 241, 57);
  font-weight: bold;
  cursor: pointer;
}

.login-cart,
nav,
.search-bar, .logo {
  display: inline-block;
  margin: 0 10px;
}

.header input{
  line-height: normal;
}

.login-cart{
  float: right;
  clear: both;
}

.search-bar input[type=text]{
  width: 350px;
  padding: 5px 0 5px 40px;
  outline: none;
}

.header a{
  display: inline-block;
  text-decoration: none;
  color: rgb(160, 160, 160);
  font-size: 17px;
  font-weight: bold;
  padding: 0 10px;
}

.header a:hover{
  border-bottom: 5px solid orange;
  border-radius: 10px;
  transition: 0.2s ease-in-out;

}

.search-bar input[type=submit],
.login-cart input[type=submit] {
  padding: 5px 9px;
  clear: both;
}

.search-bar{
  position: relative;
}

.search-bar i{
  position: absolute;
  top: 23px;
  left: 14px;
  font-weight: bolder;
  font-size: 16px;
}



/* CAROUSEL SECTION */

.carousel-sect{
  background-color: rgb(248, 248, 248);
  display: relative;
  margin-top: 70px;
  width: 100%;
  height: 600px;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 20px;
}


.carousel{
  height: 600px;
  width: 70%;
  float: right;
}

.carousel-inner{
  box-shadow: 0 0 7px rgb(139, 139, 139);  
}

.carousel-inner img{
  background-size: cover no-repeat;
  height: 600px;
  width: 100%;
  border-radius: 3px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  top: 50%;
}

.shadow {
  box-shadow: 0 0 10px rgb(73, 73, 73);
}

.category-menu{
  width: 28.5%;
  height: 600px;
  float: left;
}


/* CONTENT SECTION  */
.grid{
  display: inline-block;
  width: 23%;
}

.content-sect{
margin: 0 15px;
}

.content-sect section{
  height: 400px;
  margin-bottom: 30px;
}

.category{
  background-color: rgb(248, 248, 248);
  padding: 0 15px;
}

section .details{
  height: 150px;
  line-height: 0px;
  width: 100%;
  background-color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding-top: 25px;
}

section img{
  display: block;
  background-size: cover no-repeat;
  width: 100%;
  height: 250px;
  border-radius: 3px 3px 0px 0px;
}

.details button{
  margin-top: 10px;
}

.details p{
  line-height: 10px;
}

.details i{
  margin-right: 10px; 
}

.category-expand{
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  margin-bottom: 5px;
}


.category-expand p{
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
}

.category-expand a {
  text-decoration: none;
  color: inherit;
}

.category-expand p:last-child{
  float: right;
}